@import './reset.css';
@import './border.css';
@import './color.scss';
@import './mixins.scss';

body {
  width: 100%;
  min-height: 100%;
  background: #fff;

  &.f6f6f6 {
    background: #f6f6f6;
  }

  .vux-header {
    padding: px2rem(3) 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: $default_color;

    .vux-header-title {
      height: px2rem(40);
      line-height: px2rem(40);
      font-size: px2rem(18);
    }

    .vux-header-left {
      width: px2rem(44);
      top: px2rem(3);
      height: px2rem(40);
      @include flex-left;
    }

    .vux-header-right {
      width: px2rem(44);
      top: px2rem(3);
      height: px2rem(40);
      @include flex-right;
    }
  }
  .weui-cell{
    height: px2rem(24);
    line-height: px2rem(24);
    padding: px2rem(10) px2rem(15);
    font-size: px2rem(16);
  }
  .weui-input{
    height: px2rem(24);
    line-height: px2rem(24);
  }
  .weui-btn{
    @include flex-center;
    height: px2rem(44);
    line-height: px2rem(44);
    font-size: px2rem(16);
  }
  [class^="weui-icon-"]:before, [class*=" weui-icon-"]:before{
    width: px2rem(14);
    height: px2rem(14);
    font-size: px2rem(14);
  }
  .vux-x-input .weui-icon{
    padding-left: px2rem(5);
  }
  .vux-x-input .vux-input-icon{
    font-size: px2rem(20);
  }
  .vux-input-icon.weui-icon-warn:before, .vux-input-icon.weui-icon-success:before{
    font-size: px2rem(20);
  }
}
