
@import './reset.css';
@import './border.css';
@import './color.scss';

body{
  width: 100%;
  min-height: 100%;
  background: #fff;
  &.f6f6f6{
    background: #f6f6f6;
  }
}

#app .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $default_color;
}
