
@import './reset.css';
@import './border.css';
@import './color.scss';
@import './mixins.scss';

body{
  width: 100%;
  min-height: 100%;
  background: #fff;
  &.f6f6f6{
    background: #f6f6f6;
  }
}

#app .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $default_color;
}

.header.vux-header .vux-header-left{
  width: 44px;
  top: 3px;
  height: 40px;
  @include flex-left;
}

.header.vux-header .vux-header-right{
  width: 44px;
  top: 3px;
  height: 40px;
  @include flex-right;
}
